<?xml version="1.0"?>

<model>
  <name>Water Intake Reservoir</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Your name</name>
    <email>your@email.com</email>
  </author>

  <description>
	Water Intake Reservoir for Teknofest 2022 Competition
  </description>
</model>
