<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <!--<include file="$(find mbk_ardupilot_drone)/launch/empty_world.launch"/>-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mbk_ardupilot_drone)/worlds/teknofest_world.world"/>-->
    <!-- more default parameters can be changed here -->
  </include>

<!--to start MAVROS-->
<include file="$(find mbk_ardupilot_drone)/launch/apm.launch" />

<!--TO START MAVLPROXY , the basic Ground Control Station (GCS)-->
<node pkg="mbk_ardupilot_drone" type="startsitl.sh" name="mavproxy_bash_file_by_mbk" output="screen" >
    <param name="cmd" value="$(find mbk_ardupilot_drone)/script/startsitl.sh"/>
</node>




<!--To start RVIZ-->
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find mbk_ardupilot_drone)/misc/rviz_for_ardupilot.rviz" />


</launch>


