<launch>

<!--Waypoint navigation using Python script  -->
<node pkg="mbk_ardupilot_drone" type="waypoint_navigation_mission_01_for_dronekit.py" 
  
    name="Quadcopter_Navigation" output="screen" >
</node>


<!-- <node pkg="mbk_ardupilot_drone" type="dronekit_simulation_test.py" 
  
    name="Quadcopter_Navigation" output="screen" >
</node> -->

<!--For generating path of the quadcopter in RVIZ by using Python script  -->
<node pkg="mbk_ardupilot_drone" type="Generate_Trajectory_In_RVIZ.py" 
  
    name="Generating_Trajectory" output="screen" >
</node>



</launch>